body {
  background: #ffffff;
  font-family: "Silkscreen", sans-serif;
}

h2 {
  font-size: 0.7rem;
  margin: 0.6rem 0.5rem;
}

h2:first-of-type{
  margin-top: 0;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 70%;
  height: 1.2em;
  color: #ff0062;
  border: 3px solid hsl(0, 0%, 0%);
  border-radius: 35px;

}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  border-radius: 35px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, var(--color1, #2af527), var(--color2, #8fffda)),
              radial-gradient(at 30% 30%, rgba(255,255,255,0.4), transparent 70%);
  background-blend-mode: screen;
  transition: all 0.2s ease-out;
  border-radius: 35px;
}

progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, var(--color1, #2af527), var(--color2, #8fffda)),
              radial-gradient(at 30% 30%, rgba(255,255,255,0.4), transparent 70%);
  background-blend-mode: screen;

  transition: all 0.2s ease-out;
  border-radius: 35px;
}

button {
  font: inherit;
  font-size: 0.8em;
  background: #ff0062;
  border: 1px solid #ff0062;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 35px;
  cursor: pointer;
  margin: 0.5rem;
  min-width: 20%;
  min-height: 7%;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a927f5;
  border-color: #a927f5;
}

#health-levels,
#controls, #pictures {
  margin: 1rem auto;
  width: 20rem;
  text-align: center;
  border-radius: 35px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: rgb(251, 253, 255);
}

#health-levels {
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pictures {
  min-height: 36vh;
}

#controls {
  display: grid;
  grid: repeat(2, 1fr) / repeat(2, 1fr);
  height: 20vh;
  font-size: 0.9em;
}

#bonus-life {
  font-weight: bold;
  color: white;
  background: #ff0062;
  border: 1px solid #ff0062;
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 0.5rem;
}
#navbar {
  justify-self: center;
  width: 90%;
}

#navbar button {
  min-width: 33%;
}

#navbar button:first-of-type {
  padding: 0.5em;
  background-color: lightblue;
  border: none;
}

#navbar button:nth-of-type(2){
  padding: 0.5em;
  background-color: red;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

nav a {
  text-decoration: none;
  color: white;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

.modal {
  position: fixed;
  z-index: 100;
  width: 80%;
  top: 5vh;
  display: none;
  justify-self: center;
}

.modal.visible {
  display: flex;
  flex-direction: column;
  animation: fade-slide-in 0.3s ease-out forwards;
  align-items: center;
  gap: 0.7em;
}

#log-modal {
  min-height: 90vh;
}

.modal__title {
  padding: 1rem;
    background-color: yellow;
    color: black;
    justify-self: center;
    border-radius: 25px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.modal__title h2 {
  font-size: 1.3rem;
  margin: 0;
}

#modal-log-content {
  color: yellow;
  max-height: 70vh;
  overflow: scroll;
  scrollbar-width: none;
}

.modal__actions {
  bottom: 0;
  position: absolute;
}

#btn--close-log {
  background-color: yellow;
  justify-self: center;
  color: black;
  border: none;
}